.individual-tweet {
  border: 1px solid #efefef7f;
  border-radius: 10px;
  margin-left: 2em;
  margin-right: 2em;
}

.individual-tweet:hover {
  border-color: #666666;
}

.individual-tweet:hover header {
  color: #234751;
  background-color: #efefef
}

.individual-tweet header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 25px;
  color: #234751a5;
  background-color: #efefef7f;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.individual-tweet header .image {
  border-radius: 15px;
  padding: 10px;
}

.individual-tweet header #username {
  padding-right: 135px;
  position: relative;
  bottom: 10px;

}

.individual-tweet header #handlebar {
  font-size: 18px;
  font-weight: 300;
  padding-right: 10px;
}

.individual-tweet div {
  font-size: 20px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.individual-tweet footer {
  font-size: 14px;
  border-top: 1px solid #efefef;
}

.individual-tweet .text {
  padding-left: 1em;
}